body,html
  padding 0em
  margin 0em
  font-size 14px
.no-margin
  margin 0rem !important
.no-padding
  padding 0rem !important
.center-flex-p
  display flex
  align-items center
.center-flex
  margin 0 auto !important
.bold
  font-weight bold !important
.contentnav
  margin 0 auto
  max-width 1280px
  width 100%
  .row
    margin-left 0em
    margin-right 0em
.container
  width 100%
  .row
    margin-left 0em
    margin-right 0em
@media only screen and (min-width: 601px)
  .navbar-fixed
    height: 5rem
  .slider-control
    display flex
  .container
    width: 95%
@media only screen and (min-width: 993px)
  .contentnav
    width 90%    
  .container
    width 90%
  #contentfotter
    display flex  
@media only screen and (max-width: 1100px)
  .contentnav
    width 95%
@media only screen and (max-width: 992px)
  nav .brand-logo
    left: calc(50% + 18px)
  .padding-no-margin
    padding 0rem 1.5rem !important
    margin 0em !important
  .margin-item
    margin: 0rem 1rem !important;
@media only screen and (max-width: 550px)
  nav .brand-logo
    margin 0em
  nav .button-collapse
    margin 0 .5rem
  .padding-no-margin
    padding 0rem .5rem !important
    margin 0em !important
  .margin-item
    margin: 0rem .5rem !important
  .drag-target
    display none