extends layout

block content
  .container
    .card
      .card-content
        .card.row
          .row.col.s12.m3.center-on-small-only
            .image-container
              img.circle(src='/_img/persona1.jpg')
          .row.col.s12.m9
            h4.bold Daniel Andre Quispe Trujillo
            p
              | Daniel.quispe@tecsup.edu.pe
        .card.row
          .row.col.s12.m3.center-on-small-only
            .image-container
              img.circle(src='/_img/persona2.jpg')
          .row.col.s12.m9
            h4.bold Juan Oswaldo Saavedra Flores
            p
              | 
        .card.row
          .row.col.s12.m3.center-on-small-only
            .image-container
              img.circle(src='/_img/persona3.jpg')
          .row.col.s12.m9
            h4.bold Alexis Espinoza C.
            p
              | alexis.espinoza@tecsup.edu.pe