extends layout

block content
  .container
    .card
      .card-content
        .row
          .col.s12
            h3.bold.center.light-blue-text= title
          //- .row.col.s12
            h5.bold.light-blue-text.text-darken-4 Etapa 1:
          .cols12
            h5.bold.grey-text.text-darken-2 LISTA DE NECESIDADES
            .col.s12
              ul
                li  • Necesitan más puntos de acceso para cargar su celular.
                li  • Necesitan disponer de una longitud de cable específica.
                li  • Desean saber el avance del cargador desde otro punto.
                li  • Necesitan un lugar cómodo y seguro para cargar su celular.
                li  • Desean poder tener un cargador que les brinde velocidad de carga.
                li  • Desean poder usar su celular mientras esta cargándose.
                li  • Desean que los demás puedan disponer también de un cargador igual que ellos.
            br
            h5.bold.grey-text.text-darken-2 MAPA DE EMPATIA
          .row.col.s12
            .card
              .row.no-margin(style='display:flex')
                .card.col.s6.light-blue.lighten-3(style='margin:.1rem 0rem')
                  h5.bold LO QUE DICE:
                  .col.s12
                    ul
                      li • Dice que el cargador de celular le parece interesante.
                      li • Dice que le atrae más el diseño y la funcionalidad.
                      li • Lo que menos le atrae de su cargador es el precio.
                      li • El precio es un impedimento para adquirir un nuevo cargador.
                .card.col.s6.light-blue.lighten-3(style='margin:.1rem 0rem')
                  h5.bold LO QUE PIENSA:
                  .col.s12
                    ul
                      li • Parece que piensa que el cargar su celular es algo muy importante.
                      li • Al parecer piensa que es algo que no le puede faltar.
                      li • Piensa que al final lo que importa es que cargue rápido su móvil. 
                      li • El cargador es algo que tiene tanta importancia como su celular
              .row.no-margin(style='display:flex')
                .card.col.s6.grey.lighten-2(style='margin:.1rem 0rem')
                  h5.bold LO QUE HACE:
                  .col.s12
                    ul
                      li • Se fija el nivel de carga contantemente.
                      li • Trata de manera desinteresada al cargador.
                      li • No deja de usar el celular al momento de cargar.
                      li • Presta su cargador a otras personas.
                      li • Trata de ganar uno de los tomacorrientes antes que otro.
                .card.col.s6.grey.lighten-2(style='margin:.1rem 0rem')
                  h5.bold LO QUE SIENTE:
                  .col.s12
                    ul
                      li • Siente que al cargar su celular puede estar calmado.
                      li • Siente que cuando le falta batería es como una incapacidad para comunicarse.
                      li • Siente que si no lo lleva ya el tiempo va en cuenta regresiva.