extends layout

block content
  .container
    .card
      .card-content
        .row
          .col.s12
            h3.bold.center.light-blue-text= title
          //- .row.col.s12
            h5.bold.light-blue-text.text-darken-4 Etapa 1:
          .cols12
            h5.bold.grey-text.text-darken-2  1.  Diseñar y fabricar
            .row.col.s12
              p
                | Hacer prototipos para evaluar
                | El objetivo es desarrollar prototipos de baja resolución o a pequeña escala (simples y que tomen poco tiempo armarlos) para evaluarlos en una generación iterativa. Considera lo siguiente: 
              ul.no-margin
                li • Primero escogemos el material  que se decidió  de plástico
                li • Se trabajó  con  un usuario en mente teniendo en cuenta nuestra idea ganadora
            h5.bold.grey-text.text-darken-2  Malla Receptora de Información :
          .row.col.s12
            .card
              .row.no-margin(style='display:flex')
                .card.col.s6.grey.lighten-3(style='margin:.1rem 0rem')
                  .card-content
                    ul
                      li • Se mencionó la idea de la longitud del cable
                      li • Se habló del diseño que tenia
                      li • Mención la resistencia del cable
                      li • Que tan seguro es  al cargarlo
                .card.col.s6.grey.lighten-3(style='margin:.1rem 0rem')
                  .col.s12
                    .card-content
                    ul
                      li • Adicionarles un entrada universal 
                      li • La forma del prototipo debe más completo
                      li • El prototipo debe  estar más  protegido por su carcasa
              .row.no-margin(style='display:flex')
                .card.col.s6.grey.lighten-3(style='margin:.1rem 0rem')
                  .card-content
                    ul
                      li • ¿Qué tipo de entra tendría?
                      li • ¿Ambas entradas funcionarían ala  ves?
                      li • ¿Par q sirve el tercer punto de enchufe?
                      li • ¿Qué tan rápido cargaría?
                .card.col.s6.grey.lighten-3(style='margin:.1rem 0rem')
                  .card-content
                    ul
                      li • Agregar un entrada más de modelo universal
                      li • El cable sería más estable al poner un  parante interno
                      li • Hacer más comparto el prototipo
          h5.center.bold.light-blue-text.text-darken-4 Entregable
          .col.s12.l6.offset-l3
            .center-flex-p
              .center-flex
                img.materialboxed.responsive-img(src="/_img/entregable.jpg")