extends layout

block content
  .slider
    ul.slides
      li
        img(src='/_img/antes.jpg')
        .caption.left-align
          h3.bold Producto Inicial
          //- h5.light.grey-text.text-lighten-3 Here's our small slogan.
      li
        img(src='/_img/despues.jpg')
        .caption.left-align
          h3 Producto Final
          //- h5.light.grey-text.text-lighten-3 Here's our small slogan.
      //- li
        img(src='http://lorempixel.com/580/250/nature/3')
        // random image
        .caption.right-align
          h3 Right Aligned Caption
          h5.light.grey-text.text-lighten-3 Here's our small slogan.
      //- li
        img(src='http://lorempixel.com/580/250/nature/4')
        // random image
        .caption.center-align
          h3 This is our big Tagline!
          h5.light.grey-text.text-lighten-3 Here's our small slogan.
  .row
    .col.s12
      br
      br
      .col.s12.m6.l4.offset-l1
        .card
          .card-image.waves-effect.waves-block.waves-light
            img.activator(src='/_img/evidencia.jpg')
          .card-content
            span.bold.card-title.activator.grey-text.text-darken-2
              | Evidencia 1
              i.material-icons.right more_vert
          .card-reveal
            span.card-title.grey-text.text-darken-4
              | Evidencia 1
              i.material-icons.right close
            p
              | Realizando la primera encuesta.
      .col.s12.m6.l4.offset-l1
        .card
          .card-image.waves-effect.waves-block.waves-light
            img.activator(src='/_img/evidencia2.jpg')
          .card-content
            span.bold.card-title.activator.grey-text.text-darken-2
              | Evidencia 2
              i.material-icons.right more_vert
          .card-reveal
            span.card-title.grey-text.text-darken-4
              | Evidencia 2
              i.material-icons.right close
            p
              | Realizando la segunda encuesta.
