extends layout

block content
  .container
    .row
      .card.col.s12
        h3.bold.center.light-blue-text Nosotros
        .row
          p.col.s12.m12.l8.offset-l2
            | El curso de design thinking permite que los estudiantes desarrollen capacidades en el cual puedan generar conceptos nuevos , ideas, diseños propios , 
            | investigación y desarrolló para innovar . 
          p.col.s12.m12.l8.offset-l2
            | Es asi que se realiza este proyecto, eso no lleva a realizar nuesro proyecto innovador (CARGADOR DE CELULAR ) . 
          p.col.s12.m12.l8.offset-l2
            | Así mismo se puede lanzar este producto a empresas rentables que ayuden a ala sociedad  para un mejor estilo de vida en tecnología
          .col.s12.center
              img.z-depth-4(src='/_img/nosotros.jpg')