extends layout

block content
  .container
    br
    br
    .row
      .col.s12.m8.l6.offset-m2
        .card
          .card-image
            img(src='/_img/despues2.jpg')
            span.bold.card-title Producto Inicial
          .card-content
            p
              | Muestra producto inicial
      .col.s12.m8.l6.offset-m2
        .card
          .card-image
            img(src='/_img/antes.jpg')
            span.bold.card-title Producto Final
          .card-content
            p
              | Muestra producto final